.welcome_container{
    display: flex;
    height: 100vh;
    max-width: 1110px;
    width: 98%;
    background-color: black;
    margin: auto;
}
.content_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    padding-left: 50px !important;

}

.content_container p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    
}

.content_container p span{
    color: #f8f8f8;
 }

.carousal_contaier{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
    
}
.carousal_contaier img{
    width: 100%;
}
.swiper-pagination-bullet{
    background: #F8F8F8 !important;
}
/* ======================= */

.swiper {
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

@media screen and (max-width: 768px) {

    .welcome_container{
        display: block;
        height: fit-content;
        padding: 0;
        padding-top: 15px ;

    }
    .content_container{
        width: 100%;
        text-align: center !important;
        padding: 0 !important;
        padding: 10px !important;
    }
    
    .content_container p{
        font-size: 15px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .carousal_contaier{
        width: 100%;
        padding: 5%;
        margin-top: 25px;

    }
    .carousal_contaier img{
        width: 100%;
    }
}
